/ZPLPrinterSolution/ZPLPrinterProject/*.user
/ZPLPrinterSolution/ZPLPrinterProject/bin
/ZPLPrinterSolution/packages
/ZPLPrinterSolution/ZPLPrinterProject/*.suo
/ZPLPrinterSolution/ZPLPrinterProject/obj/Debug
/ZPLPrinterSolution/ZPLPrinterProject/obj/Release
